.main {
	transition: margin-left .5s;
	padding: 10px 20px 20px;
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: rgb(242, 242, 242);
	overflow-y: auto;
	z-index: 0;
	
}

.main__title {
	padding: 20px 0px 20px;
}

/*checkboxs and radiobuttons group*/ 
.filter-block__form-check {
	position: relative;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.filter-block__form-check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 5px;
	left: 0px;
	height: 16px;
	width: 16px;
	background-color: White;
	border: 2px solid gray;
	border-radius: 2px;
}

.label-title {
	margin-left: 20px;
}

.filter-block__form-check input:checked ~ .checkmark {
	background-color: darkgray;
}

.checkmark:after, .radiobutton:after {
	content: "";
	position: absolute;
	display: none;
}

.filter-block__form-check input:checked ~ .checkmark:after, .filter-block__form-check input:checked ~ .radiobutton:after {
	display: block;
}

.filter-block__form-check .checkmark:after {
	left: 2px;
	top: 0px;
	width: 7px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.radiobutton {
	position: absolute;
	top: 5px;
	left: 0px;
	height: 16px;
	width: 16px;
	border: 2px solid gray;
	background-color: white;
	border-radius: 50%;
}

.filter-block__form-check .radiobutton:after {
	left: 2px;
	top: 2px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: gray;
}

.filter-block__form-check input:checked ~ .radiobutton {
	background-color: white;
}

/*filter's titles*/
.filter-title-container {
	text-align: center;
	align-content: center;
	border-bottom-style: solid;
	border-color: rgb(211,211,211);
	border-width: 1px;
}

.filter-title-container__title {
	display: inline-block;
}

.filter-block {
	padding: 10px;
}

/*icons and logo*/
.company-logo {
	float: left;
	margin-top: 10px;	
	width: 40px;
	height: 40px;
}

.icons {
	font-size: 1em;
	color: darkgray;
	cursor: pointer;
}

.icons:hover {
	color: gray;
}

.close-icon {
	display: inline;
	float: right;
	margin-right: 10px;
}

.sort-icon {
	display: none;
}

/*sidenav styles*/
.sidenav {
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	padding-top: 10px;
	transition: 0.5s;
	border-top-style: solid;
	border-color: rgb(211,211,211);
	border-width: 1px;
}

@media screen and (max-height: 450px) {
 .sidenav {
    padding-top: 15px;
  }
}

/*table styles*/
table {
	width: 100%;  
}

th {
	font-size: 12px;
	padding: 5px;
	white-space: nowrap;
}

.title-th {
  text-align: start;
}

.table-header {
	text-align: center;
	padding-bottom: 10px;
	cursor: pointer;
}

.table-header:hover .sort-icon {
	display: inline;
}
	
.table-wrap {  
	overflow-x: auto;
	margin-top: 20px;
	margin-left: 7em;
	margin-right: 20px;
}

.result {
	background-color: rgb(211,211,211);
	width: 40px;
	height: 25px;
	line-height: 25px;
	margin: 0 auto;
	padding-top: 2px;
	text-align: center;
}

.headcol {
	position: absolute;
	width: 7em;
	line-height: 1.1em;
	left: 20px;
}

/*flex containers*/
.flex-container {
	display: flex;
	flex-flow: row wrap;
	width: 80%;
	margin: auto;
}

.small-tiles-container {
	display:  flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	flex-basis: 250px;
	min-width: 210px;
	box-sizing: content-box;
}

.small-tile-info {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-radius: 2px;
	height: 192px;
	line-height: 100px;
	text-align: center;
}

.big-tile-info {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-radius: 2px;
	position: relative;
	min-width: 210px;
	height: 388px;
}

.small-tile {
	padding: 0px 5px 5px;
	flex: 1 0 0;
}

.big-tile {
	padding: 0px 5px 5px;
}

.big-tile-container {
	overflow: auto;
	flex-grow: 2;
	flex-basis: 50%;
	flex-shrink: 0;
	min-width: 210px;
	box-sizing: content-box;
}

.small-tile-info:hover, .big-tile-info:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.main__container {
	justify-content: center;
}

/*tiles styles*/
.tile-title {
	font-size: 18px;
	text-align: left;
	padding: 10px;
}

/*burger menu*/
.burger-menu__button:hover {
	color: black; 
}

.burger-menu__button { 
	display: none;
	padding: 5px 20px 0px;
	float: right;
	color: gray;
}

.burger-menu__button-icon {
	padding-left: 10px;
}

.burger-menu {
	display: none;
}

.burger-menu__nav {
	padding-top: 30px;
	position: absolute;
	z-index: 3;
	display: flex;
	flex-flow: column;
	height: 100vh;
	width: 100%;
	background-color: #2a2a2a;
	overflow-y: auto;
	list-style: none;
}

.burger-menu__link {
	padding: 10px;
	font-family: sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-wrap: break-word;
}

.burger-menu__link a:hover {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	cursor: pointer;
}

.burger-menu__close {
	padding: 0 10px;
}

.close__icon {
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.close__icon:hover {
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

.active-link {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
}

.unactive-link {
	color: rgba(255, 255, 255, 0.6);
}

/*top bar styles*/
.main-header {
	height: 60px;
	line-height: 60px;
}

.navigation {
	position: relative;
	display: flex;
	align-items: center;
	background: white;
	flex: 1;
	justify-content: center;
}

.navigation button {
	background: none;
	border: none;
	outline: none;
	padding: 0px 20px 0px 0px;
	height: 100%;
}

.navigation__pages-titles {
	list-style: none;
	display: flex;
	justify-content: center;
	flex: 1;
	overflow: hidden;
	margin-bottom: 0;
	padding: 0px 10px 0px 0px;
	height: 100%;
}

.navigation__pages-titles li {
	padding-left: 10px;
	max-width: 150px;
	min-width: 100px;
	text-overflow: ellipsis;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	white-space: nowrap;
}

.navigation__pages-titles li:hover + .navigation__pages-titles li{
	padding-left: 100px; 
}

.navigation__pages-titles li a {
	color: black;
}

.overflow {
	position: absolute;
	background: white;
	right: 0;
	z-index: 25;
	top: 100%;
	list-style: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.overflow li a {
	color: black;
}

.overflow.hidden {
	display: none;
}

.overflow li {
	margin: 0px 5px 5px;
	min-width: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
	white-space: nowrap;
}


@media screen and (max-width: 450px) {
	.burger-menu__button {
		display: inline-flex;
	}
	.navigation {
		visibility: hidden;
	}
}

/*hightcharts styles*/
.highcharts-figure .chart-container {
	width: 200px;
	height: 130px;
	margin: 0 auto;
}

/*filter print styles*/
.filters-print {
	display: none;
	text-align: center;
}

.filters-print__title {
	font-weight: bold;
}

.filters-print__nps-info {
	font-weight: normal;
}

.filters-print__product-info {
	font-weight: normal;
}

/*print styles*/
@media print {
	.sidenav {
		display: none;
	}
	
	.main {
		background-color: white;
		-webkit-print-color-adjust: exact; 
		margin: auto !important;
	}
	
	.flex-container {
		margin: auto !important;
	}
	
	.sidenav {
		width: 0;
	}
	
	.icons, .navigation {
		display: none;
	}
	
	.main__title {
		text-align: center;
	}

	.small-tile-info, .big-tile-info {
		box-shadow: none;
		border: 2px solid rgb(0, 0, 0);
	}
	
	.filters-print {
		display: block;
	}
	
}
